<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarMapper">
	<resultMap type="com.example.entity.Car" id="carMap">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PASSENGERS" property="passengers" />
		<association property="driver"
			javaType="com.example.entity.Driver">
			<id column="D_ID" property="id" />
			<result column="NAME" property="name" />
		</association>
	</resultMap>
	<select id="findAll" resultMap="carMap">
		SELECT * FROM CARS
		<where>
			<if test="carId != null">
				id = #{carId}
			</if>
			<if test="carName != null">
				OR name = #{carName}
			</if>
			<if test="carPassengers != null">
				OR passengers = #{carPassengers}
			</if>
		</where>
	</select>
	<select id="findById" resultMap="carMap">
		SELECT
		C.ID
		,C.NAME
		,C.PASSENGERS
		,D.ID AS D_ID
		,D.NAME AS D_NAME
		FROM
		CARS AS C
		INNER JOIN
		DRIVERS AS D
		ON
		D.CARS_ID = C.ID
		WHERE
		C.ID = #{id}
	</select>
	<insert id="insert" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		INSERT INTO cars (id, name, passengers) VALUES
		(nextval('car_id_seq'),
		#{name}, #{passengers})
	</insert>
	<update id="update">
		UPDATE cars SET name = #{name}, passengers =
		#{passengers} WHERE id = #{id}
	</update>
	<delete id="deleteById">
		DELETE FROM cars WHERE id = #{id}
	</delete>
</mapper>